</style>
#aa {
	color: #000;
	background-image: url(2000/1900a.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1901 {
	color: #000;
	background-image: url(2000/1901.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1902 {
	color: #000;
	background-image: url(2000/1902.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1903 {
	color: #000;
	background-image: url(2000/1903.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1904 {
	color: #000;
	background-image: url(2000/1904.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1905 {
	color: #000;
	background-image: url(2000/1905.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1906 {
	color: #000;
	background-image: url(2000/1906.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1907 {
	color: #F00;
	background-image: url(2000/1907.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1908 {
	color: #000;
	background-image: url(2000/1908.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1909 {
	color: #000;
	background-image: url(2000/1909.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1910 {
	color: #000;
	background-image: url(2000/1910.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1911 {
	color: #000;
	background-image: url(2000/1911.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1912 {
	color: #000;
	background-image: url(2000/1912.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1913 {
	color: #F00;
	background-image: url(2000/1913.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1914 {
	color: #F00;
	background-image: url(2000/1914.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1915 {
	color: #000;
	background-image: url(2000/1915.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1916 {
	color: #000;
	background-image: url(2000/1916.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1917 {
	color: #000;
	background-image: url(2000/1917.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1918 {
	color: #000;
	background-image: url(2000/1918.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1919 {
	color: #F00;
	background-image: url(2000/1919.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1920 {
	color: #F00;
	background-image: url(2000/1920.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1921 {
	color: #000;
	background-image: url(2000/1921.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1922 {
	color: #000;
	background-image: url(2000/1922.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1923 {
	color: #F00;
	background-image: url(2000/1923.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1924 {
	color: #000;
	background-image: url(2000/1924.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1925 {
	color: #000;
	background-image: url(2000/1925.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1926 {
	color: #000;
	background-image: url(2000/1926.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1927 {
	color: #000;
	background-image: url(2000/1927.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1928 {
	color: #000;
	background-image: url(2000/1928.jpg);	height: 225px;
	width:390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1929 {
	color: #000;
	background-image: url(2000/1929.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1930 {
	color: #000;
	background-image: url(2000/1930.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1931 {
	color: #000;
	background-image: url(2000/1931.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1932 {
	color: #F00;
	background-image: url(2000/1932.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1933 {
	color: #F00;
	background-image: url(2000/1933.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1934 {
	color: #000;
	background-image: url(2000/1934.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1935 {
	color: #000;
	background-image: url(2000/1935.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1936 {
	color: #000;
	background-image: url(2000/1936.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1937 {
	color: #000;
	background-image: url(2000/1937.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1938 {
	color: #000;
	background-image: url(2000/1938.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1939 {
	color: #000;
	background-image: url(2000/1939.jpg);	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1940 {
	color: #000;
	background-image: url(2000/1940.jpg);	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1941 {
	color: #F00;
	background-image: url(2000/1941.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1942 {
	color: #000;
	background-image: url(2000/1942.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1943 {
	color: #000;
	background-image: url(2000/1943.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1944 {
	color: #000;
	background-image: url(2000/1944.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1945 {
	color: #000;
	background-image: url(2000/1945.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1946 {
	color: #000;
	background-image: url(2000/1946.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1947 {
	color: #000;
	background-image: url(2000/1947.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1948 {
	color: #F00;
	background-image: url(2000/1948.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1949 {
	color: #000;
	background-image: url(2000/1949.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1950 {
	color: #000;
	background-image: url(2000/1950.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1951 {
	color: #000;
	background-image: url(2000/1951.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1952 {
	color: #000;
	background-image: url(2000/1952.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1953 {
	color: #000;
	background-image: url(2000/1953.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1954 {
	color: #000;
	background-image: url(2000/1954.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1955 {
	color: #000;
	background-image: url(2000/1955.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1956 {
	color: #000;
	background-image: url(2000/1956.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1957 {
	color: #000;
	background-image: url(2000/1957.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1958 {
	color: #000;
	background-image: url(2000/1958.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1959 {
	color: #000;
	background-image: url(2000/1959.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1960 {
	color: #000;
	background-image: url(2000/1960.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1961 {
	color: #000;
	background-image: url(2000/1961.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1962 {
	color: #000;
	background-image: url(2000/1962.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1963 {
	color: #000;
	background-image: url(2000/1963.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1964 {
	color: #000;
	background-image: url(2000/1964.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1965 {
	color: #000;
	background-image: url(2000/1965.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1966 {
	color: #000;
	background-image: url(2000/1966.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1967 {
	color: #000;
	background-image: url(2000/1967.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1968 {
	color: #000;
	background-image: url(2000/1968.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1969 {
	color: #000;
	background-image: url(2000/1969.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1970 {
	color: #000;
	background-image: url(2000/1970.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1971 {
	color: #F00;
	background-image: url(2000/1971.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1972 {
	color: #000;
	background-image: url(2000/1972.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1973 {
	color: #000;
	background-image: url(2000/1973.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1974 {
	color: #000;
	background-image: url(2000/1974.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1975 {
	color: #F00;
	background-image: url(2000/1975.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1975DX {
	color: #F00;
	background-image: url(2000/1975DX.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1976 {
	color: #000;
	background-image: url(2000/1976.jpg);	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1977 {
	color: #000;
	background-image: url(2000/1977.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1978 {
	color: #000;
	background-image: url(2000/1978.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1979 {
	color: #000;
	background-image: url(2000/1979.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1980 {
	color: #F00;
	background-image: url(2000/1980.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1981 {
	color: #F00;
	background-image: url(2000/1981.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1982 {
	color: #000;
	background-image: url(2000/1982.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1983 {
	color: #000;
	background-image: url(2000/1983.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1984 {
	color: #000;
	background-image: url(2000/1984.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1985 {
	color: #000;
	background-image: url(2000/1985.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1986 {
	color: #000;
	background-image: url(2000/1986.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1987 {
	color: #000;
	background-image: url(2000/1987.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1988 {
	color: #F00;
	background-image: url(2000/1988.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1989 {
	color: #F00;
	background-image: url(2000/1989.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1990 {
	color: #F00;
	background-image: url(2000/1990.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1990DX {
	color: #F00;
	background-image: url(2000/1990DX.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1991 {
	color: #000;
	background-image: url(2000/1991.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1992 {
	color: #000;
	background-image: url(2000/1992.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1993 {
	color: #000;
	background-image: url(2000/1993.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1994 {
	color: #000;
	background-image: url(2000/1994.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1995 {
	color: #000;
	background-image: url(2000/1995.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1996 {
	color: #000;
	background-image: url(2000/1996.jpg);	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1997 {
	color: #000;
	background-image: url(2000/1997.jpg);	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1998 {
	color: #F00;
	background-image: url(2000/1998.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a1999 {
	color: #000;
	background-image: url(2000/1999.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2000 {
	color: #F00;
	background-image: url(2000/2000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
