</style>
#La {
	color: #000;
	background-image: url(Large/f04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L000a {
	color: #000;
	background-image: url(Large/Large02.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}
#L001 {
	color: #000;
	background-image: url(Large/Large01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L044 {
	color: #000;
	background-image: url(Large/03.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L045 {
	color: #000;
	background-image: url(Large/045.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L046 {
	color: #000;
	background-image: url(Large/046.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L047a {
	color: #000;
	background-image: url(Large/047a.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L047b {
	color: #000;
	background-image: url(Large/047b.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L048 {
	color: #000;
	background-image: url(Large/048.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L049 {
	color: #000;
	background-image: url(Large/049.jpg);
	height: 225px;
	width: 790px;
	padding-left: 10px;
	padding-top: 285px;
}#L050 {
	color: #000;
	background-image: url(Large/050.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
