</style>
#La {
	color: #000;
	background-image: url(WA/f04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L000a {
	color: #000;
	background-image: url(WA/m01.jpg);
	height: 225px;
	width: 590px;
	padding-left: 10px;
	padding-top: 285px;
}
#L001 {
	color: #000;
	background-image: url(WA/m02.jpg);
	height: 225px;
	width: 590px;
	padding-left: 10px;
	padding-top: 285px;
}
#L002 {
	color: #000;
	background-image: url(WA/m03.jpg);
	height: 225px;
	width: 590px;
	padding-left: 10px;
	padding-top: 285px;
}
#L003 {
	color: #000;
	background-image: url(WA/f01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L004 {
	color: #000;
	background-image: url(WA/f05.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L005 {
	color: #000;
	background-image: url(WA/v01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L006 {
	color: #000;
	background-image: url(WA/v02.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L007 {
	color: #000;
	background-image: url(WA/v03.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L008 {
	color: #000;
	background-image: url(WA/v04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L009 {
	color: #000;
	background-image: url(WA/05.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L010 {
	color: #000;
	background-image: url(WA/06.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L011 {
	color: #000;
	background-image: url(WA/01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L012 {
	color: #000;
	background-image: url(WA/02.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L013 {
	color: #000;
	background-image: url(WA/03.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L014 {
	color: #000;
	background-image: url(WA/04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L015 {
	color: #000;
	background-image: url(WA/a01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L016 {
	color: #000;
	background-image: url(WA/a02.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L017 {
	color: #000;
	background-image: url(WA/a03.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L018 {
	color: #000;
	background-image: url(WA/a04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L019 {
	color: #000;
	background-image: url(WA/a05.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L020 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L021 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L022 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L023 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L024 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L025 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L026 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L027 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L028 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L029 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L030 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L031 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L032 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L033 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L034 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L035 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L036 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L037 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L038 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L039 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L040 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L041 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L042 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L043 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L044 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L045 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L046 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L047 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L048 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L049 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L050 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L051 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L052 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L053 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L054 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L055 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L056 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L057 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L058 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L059 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L060 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L061 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L062 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L063 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L064 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L065 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L066 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L067 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L068 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L069 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L070 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L071 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L072 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L073 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L074 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L075 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L076 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L077 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L078 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L079 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L080 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L081 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L082 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L083 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L084 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L085 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L086 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L087 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L088 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L089 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L090 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L091 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L092 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L093 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L094 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L095 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L096 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L097 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L098 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L099 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L100 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L101 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L102 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L103 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L104 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L105 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L106 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L107 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L108 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L109 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L110 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L111 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L112 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L113 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L114 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L115 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L116 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L117 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L118 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L119 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L120 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L121 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L122 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L123 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L124 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L125 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L126 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L127 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L128 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L129 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L130 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L131 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L132 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L133 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L134 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L135 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L136 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L137 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L138 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L139 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L140 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L141 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L142 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L143 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L144 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L145 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L146 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L147 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L148 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L149 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L150 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L151 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L152 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L153 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L154 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L155 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L156 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L157 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L158 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L159 {
	color: #000;
	background-image: url(WA/000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
