</style>
#La {
	color: #000;
	background-image: url(WA/f04.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#L000a {
	color: #000;
	background-image: url(WA/m01.jpg);
	height: 225px;
	width: 590px;
	padding-left: 10px;
	padding-top: 285px;
}
#L001 {
	color: #000;
	background-image: url(Large/Large01.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a0007 {
	color: #000;
	background-image: url(WAS/0007.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a0008 {
	color: #000;
	background-image: url(WAS/0008.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a00009 {
	color: #000;
	background-image: url(WAS/00009.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}

#a2901 {
	color: #000;
	background-image: url(WAS/0002.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2902 {
	color: #000;
	background-image: url(WAS/0003.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2903 {
	color: #000;
	background-image: url(WAS/0000.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2904 {
	color: #000;
	background-image: url(WAS/0001.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2905 {
	color: #000;
	background-image: url(WAS/0004.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2906 {
	color: #000;
	background-image: url(WAS/0005.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}
#a2907 {
	color: #000;
	background-image: url(WAS/0006.jpg);
	height: 225px;
	width: 390px;
	padding-left: 10px;
	padding-top: 285px;
}







